*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#name{
    font-size: large;
    padding: 10px;
}
#Description{
    font-size: large;
    height:75px;
}
#creationdate{
    font-size: large;
}
#lastupdateddate{
    font-size: large;
}
#url{
    font-size: large;

}
.add{
    font-size: 23px;
    padding: 15px;
}
.button{
    padding: 15px;
    
}

.name{
    font-size: 22px;
    padding: 10px;
}
.Description{
    font-size: 22px;
    padding: 10px;

}
.CreationDate{
    font-size: 22px;
    padding: 10px;

}
.Domains{
    font-size: 22px;
    padding: 10px;

}
.LastUpdatedDate{
    font-size: 22px;
    padding: 10px;

}
.URL{
    font-size: 22px;
    padding: 10px;

}
.AddData{
   border-radius: 75%; 
}
.Heading{
    padding:10px;
}

