.consumerPage{

    margin: auto 10%; 
    padding: 2em;
    text-size: large;

    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
        padding-left: 0;
    }

    img{
        width: 100px;
        border-radius: 50%;
        border: 2px solid black;
    }

    td,th{
        font-size: large;
    }
}