.consumerPage{

    margin: auto 10%; 
    padding: 2em;
    font-size: small;
}

.content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
        padding-left: 0;
    }

img{
        width: 50px;
        border-radius: 50%;
        border: 2px solid black;
    }

td,th{
        font-size: large;
    }


.edit{
    font-size: 1rem;
}