.header-style{
    font-weight:600;
    font-size:1.75rem;
  }

.domain-style{
  background-color:#E2CFEA;
  border-radius:10px;
  margin-right:10px;
  padding:4px;
  color:#102B3F;
}
.domains-list{
    padding-top:10px;
    margin-top:10px;
    margin-bottom: 20px;
  }
  .category{
    position: absolute;
    right:20px;
    top:200px;
    font-style: italic;
    color:#6F4685
  }

  *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


// .properties{
//   margin-left:30px
// }
