#productPage {
    margin: auto 10%;
    padding: 2em;

    .heading-content {
        padding: 25px;

        h2,
        h4 {
            font-weight: 800;
            color: #102B3F
        }

        h5 {
            font-weight: 400;
            color: #102B3F
        }
    }

    .editicon {
        width: 20px;
    }

    .purple {
        background-color: #A06CB5;
        font-weight: 600;
    }

    h4,
    p {
        color: #102B3F
    }

    .action-bar {
        text-align: right;
    }

    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p {
        margin: 0.5em 0;
    }

    .heading {
        display: flex;
        flex-direction: row;
        margin: 1.2em 0;
    }

    h4 {
        font-weight: bold;
    }

    

    

    CopyButton {
        display: inline-block;
    }

    .link {
        display: flex;
        flex-direction: row;
    }

    .head {
        background-color: #E2CFEA;
    }

    .purple {
        background-color: #A06CB5;
        font-weight: 600;
        font-size: 1.1rem
    }

    .action-bar {
        text-align: right;
    }

    //Made change

    .delete-icon {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 40px;
        border-radius: 40px;
      }
    
    

    .delete-icon:hover{
        box-shadow: #aa70c3 0px 14px 50px 0px;
    }
    
}